*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-wrap{
    position:absolute;
width:500px;
height: 500px;
background-color: aqua;
}

.container{
    top:6%;
    left: 5%;
    position: relative;
    width:12px;
    height:25px;
    background-color: brown;
}